.table-container{
    margin-top:30px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:white;
}

th{
    text-align:left;
    padding:22px;
    font: size 18px;px;
    font-weight:600;
    border-bottom:1px solid #ddd;
}

td{
    padding:25px 22px;
    border-bottom:1px solid #eee;
    font-size:18px;
}

.empty-table{
    text-align:center;
    color:gray;
    padding:60px;
    font-size:18px;
}